# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment Variables & Keys
.env
.env.local

# Databases & Local Data
*.db
*.sqlite3
data/*.db

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Streamlit
.streamlit/
